<?xml version='1.0'?>
<launch>
	<!-- Common Settings -->
	<arg name="frame_id" default="/map" />


	<!-- VICON Bridge -->
	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<!-- param name="datastream_hostport" value="ARCA-PC-062722.qut.edu.au:801" type="str" /-->
		<param name="datastream_hostport" value="192.168.1.101:801" type="str" />
		<param name="tf_ref_frame_id" value="$(arg frame_id)" type="str" />
	</node>


	<!-- Map to World Transform -->
	<!-- node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 -1.445 0 0 world $(arg frame_id)" /-->
</launch>
